
function capacities.create.a.socket {

    capacities.sorry "this feature is still in development"
    exit
    sudo apt-get install socket

    if [ ! -d "./sockets" ]
        then
        mkdir ./sockets
    fi

    cd ./sockets

    socket -wslqvp "echo Socket! " 1938





}
